{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-5 offset-md-3">
    <h1 class="bold-text">Register</h1>
    <hr>
    <br/>

    <div class="card" style="background-color: rgba(255, 255, 255, 0.5); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); ">
        <div class="card-body">
            <form method="POST" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span class="bold-text">Your Form Has Errors</span>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="error-text">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-primary primary-button">Register</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
